*{
  margin: 0;
  padding: 0;
  border: border-box;
}
body{
  background-color: rgb(251, 234, 255)  
}
body nav{
  background-color:rgb(191, 131, 221);
  display:flex;
  justify-content: space-between;
}
body nav #home{
  font-size: 30px;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
  color:rgb(255, 255, 255);
  text-decoration: none;
}
body nav ul {
  display:flex;
  justify-content: right;
}
body nav ul li{
  font-size: 30px;
  list-style: none;
  margin: 0 5px;
  padding: 10px;
}
body nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body nav ul li:hover{
  background-color:darkviolet;
}
body nav #home:hover{
  background-color:darkviolet;
}
